{
    "driver": "chrome",
    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36",
    "headless":true,
    "log_directory": "logs",
    "ebookjapan": {
        "needs_login": false,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 0.5,
        "bound_on_side": "right",
        "window_size": {
            "width": 960,
            "height": 1200
        }
    },
    "bookwalker": {
        "needs_login": false,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 0.5
    },
    "ganganonline": {
        "needs_login": false,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 0.5
    }
}
