{
    "driver": "chrome",
    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36",
    "headless":true,
    "log_directory": "logs",
    "base_directory": "data",
    "ebookjapan": {
        "needs_login": false,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 0.5,
        "bound_on_side": "right",
        "blank_check_excludes": "(1, -1, 0)",
        "blank_check_giveup": 5
    },
    "linemanga": {
        "needs_login": false,
        "username": "not implemented yet",
        "password": "not implemented yet",
        "image_format": "JPEG",
        "sleep_time": 0.5,
        "cookie": "how to get cookie: see 'https://github.com/xuzhengyi1995/Bookwalker_Downloader' (!!! caution: target site is 'https://manga.line.me/' !!!)"
    },
    "zebrackcomic": {
        "needs_login": false,
        "username": "",
        "password": "",
        "image_format": "JPEG",
        "sleep_time": 0.6
    }
}
